# all data files (to be stored somewhere else)
data/raw-data
data/zip
data/poc
data/rpg
data/rpgc
data/toulouse
*.tif*

biblio/
/.quarto/
_freeze/

notes/datasources.txt
**/*.quarto_ipynb

analysis/explo_data.R